<dl>
    <dt>Title</dt>
    <dd class="title">{{ row.title }}</dd>
    <dt>Complexity</dt>
    <dd class="complexity">{{ row.complexity }}</dd>
    <dt>Assignee</dt>
    <dd class="assignee">
        {% if row.assigned %}
            {{ row.assignee.fullname }}
            {% if row.isAssignee(app.user) %}
                <span class="label">you</span>
            {% endif %}
        {% else %}
            <em>No assignee</em>
        {% endif %}
    </dd>
    <dt>Description</dt>
    <dd class="description">{{ row.descriptionHtml | raw }}</dd>
</dl>
