{% extends "BacklogAppBundle::layout.html.twig" %}

{% block content %}
    {% include "BacklogAppBundle::_breadcrumbs.html.twig" with {
        'parts': [
            {link: null, label: 'Backlogs'},
        ]
    } %}

    {% for backlog in backlogs %}
      <div class="well">
        <h2>
          <a href="{{ path('bl_backlog_show', {uid: backlog.uid}) }}">
            {{ backlog.title }}
          </a>
          <small>
            -
            <a href="{{ path('bl_backlog_edit', {uid: backlog.uid}) }}">
              Edit
            </a>
          </small>
        </h2>
      </div>
    {% endfor %}

    <div class="well">
      <h2>
        <a href="{{ path('bl_backlog_new') }}">
          New...
        </a>
      </h2>
    </div>

{% endblock %}
