<div class="page-header">
    <h1>Edit a story</h1>
</div>
<form action="{{ path('bl_backlogrow_save', {backlog_uid: row.backlog.uid, id: row.id}) }}" method="POST">
    {{ form_widget(form) }}
    <p><input type="submit" class="btn" value="Save" /></p>
</form>
