{% extends "BacklogAppBundle:BacklogRow:_row.html.twig" %}

{% block class 'bl-backlog-row-story' %}
{% block icon  'icon-star' %}

{% block content %}
    <span class="complexity">{{ row.complexity }}</span>
    <span class="title">{{ row.title }}</span>
    {% if row.assigned %}
        <span class="assignee">
            ({{ row.assignee.initials }})
        </span>
    {% endif %}
{% endblock %}
