{% extends "BacklogAppBundle::layout.html.twig" %}

{% block title "You successfully registered" %}

{% block content %}
    <h1>Registration done!</h1>
    <p>Go to your mails, you should find one from us!</p>
{% endblock %}
