{% extends "BacklogAppBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>List of backlogs</h1>
    </div>
    {% for backlog in backlogs %}
        <div class="well">
            <h2>{{ backlog.title }}</h2>
            <p><a href="{{ path('bl_backlog_show', {uid: backlog.uid}) }}">View</a></p>
        </div>
    {% endfor %}
    <p><a class="btn btn-primary" href="{{ path('bl_backlog_new') }}"><i class="icon-plus icon-white"></i>Create a new backlog</a></p>
{% endblock %}
