{% extends "BacklogAppBundle::layout.html.twig" %}

{% block content %}
    {% include "BacklogAppBundle::_breadcrumbs.html.twig" with {
        'parts': [
            {link: path('bl_backlog_list'), label: 'Backlogs'},
            {link: null, label: 'New'},
        ]
    } %}
    <form action="{{ path('bl_backlog_new') }}" method="POST">
        {{ form_widget(form) }}
        <p><input type="submit" class="btn" value="Save" /></p>
    </form>
{% endblock %}
