{% extends "BacklogAppBundle::layout.html.twig" %}

{% block title "Welcome to Backlog" %}

{% block content %}
    <div id="login-form-wrapper">
        <div class="page-header">
            <h1>Login</h1>
        </div>
        <form class="well form-stacked" action="{{ path('bl_session_loginCheck') }}" method="POST" novalidate {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <p><button class="btn btn-primary">Login</button> <a href="#">Forgot your password?</a></p>

        </form>
        <p><a href="{{ path('bl_user_register') }}">Register</a></p>
    </div>
{% endblock %}
