{% if app.user %}
    <p id="menu">
        Connected as <strong>{{ app.user.username }}</strong>
        -
        <a href="{{ path('bl_session_logout')}}">
          Logout
        </a>
    </p>
{% endif %}
