{% extends "BacklogAppBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            {% block mini '' %}
        </div>
    </div>
{% endblock %}
