{% extends "BacklogAppBundle::base.html.twig" %}

{% block body %}
    {% include "BacklogAppBundle::_menu.html.twig" %}
    <div class="container">
        {% block content '' %}
    </div>
{% endblock %}

{% block body_javascript %}{% block content_javascript '' %}{% endblock %}
