{% extends "BacklogAppBundle:Backlog:layout.html.twig" %}

{% block panel %}
    {% include "BacklogAppBundle::_breadcrumbs.html.twig" with {
        'parts': [
            {link: path('bl_backlog_list'), label: 'Home', panel: false},
            {link: path('bl_backlog_show', {uid: row.backlog.uid}), label: row.backlog.title},
            {link: false, label: 'Row #' ~ row.id}
        ]
    } %}
    {{ bl_row_show(row) }}
    <hr />
    <p><a class="btn" href="{{ path('bl_backlogrow_edit', {backlog_uid: backlog.uid, id: row.id }) }}">Edit</a></p>
{% endblock %}
